.active-scroll {
    font-weight: "bold";
    color: rgb(206, 69, 69) !important;
}


Link {
    color: black !important;
}

.table-of-contents {
    background-color: #ffff;

    @media only screen and (max-width: 840px) {
        width: 100%;
    }
}

.video-contents {
    @media only screen and (max-width: 840px) {
        width: 100vw;
    }
}

.table-of-contents-list {
    ul {
        list-style-type: none;
        list-style: none; 
        margin: 0px; 
        padding: 0px;

        li {
            margin: 5px 10px;
        }
    
        li:hover a {
            color: rgb(214, 214, 214);
        }
    }

}

.table-of-contents-title {
    text-align: center;
}

ul {
    list-style-type: none;
}